<% provide (:title), "Blog" %>
<% provide (:header), "Blog" %>
<div class="blog">
	<% if logged_in? %>
		<div class="row">
			<aside class="col-md-12">
				<section class="post_form">
					<%= render 'shared/post_form' %>
				</section>
			</aside>
		</div>

	<% else %>

	<div class="col-md-12">
		<% if @posts.any? %>
			<h3>Posts</h3>
			<ul class="posts">
				<%= render @posts %>
			</ul>
			<%= will_paginate @posts %>
		<% end %>
	</div>

	<% end %>
</div>