<% provide (:title), "Home" %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Home</h1>
    <p class="lead">Hello world this is the home page.</p>
  </div>
</div>