<h1>StaticPages#home</h1>
<p>hello world</p>

<!--navigation bar-->
<nav>
<ul>
	<li><a href="http://facebook.com">About</a></li>
	<li><a href="#">Services</a></li>
	<li><a href="#">Work</a></li>
</ul>
<div class="button">
	<a class="btn-open" href="#"></a>
</div>
</nav>

<!--overlay-->
<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav">
			<li><a href="#">About</a>
			<ul>
				<li><a href="#">About Company</a></li>
				<li><a href="#">Designers</a></li>
				<li><a href="#">Developers</a></li>
				<li><a href="#">Pets</a></li>
			</ul>
			</li>
			<li><a href="#">Services</a>
			<ul>
				<li><a href="https://www.google.hr/">Web Design</a></li>
				<li><a href="#">Development</a></li>
				<li><a href="#">Apps</a></li>
				<li><a href="#">Graphic design</a></li>
				<li><a href="#">Branding</a></li>
			</ul>
			</li>
			<li><a href="#">Work</a>
			<ul>
				<li><a href="#">Web</a></li>
				<li><a href="#">Graphic</a></li>
				<li><a href="#">Apps</a></li>
			</ul>
			</li>
		</ul>
	</div>
</div>
