<header>
<%= render 'layouts/navigation' %> <!--load nav menu1-->
<div class="jumbotron">
  <div class="container">
      <h1 class="display-3">
        <%= yield(:header) %>
      </h1>
      <h3 class="display-3">
      	<%= yield(:tagline) %>
      </h3>
  </div>
</div>
<header>